<% content_for :head do %>

	<%= javascript_include_tag "lists_show"%>

<% end %>

<h2><%= @list.name %> </h2>
<p><%= @list.description %></p>

<h3>Tasks to Complete</h3>
<div id= "taskstocomplete">
	<%= render "taskstocomplete" %>
</div>

<h3>Completed Tasks</h3>
<div id= "completedtasks">
	<%= render "completedtasks" %>
</div>

<%= form_for [current_user, @list, @task] do |form| %>

<h2> Create New Task for <%= @list.name %> Category</h2>
<p> Description: <%= form.text_field :description %> </p>
<p> Due on: <%= form.date_field (:due) %></p>
<p> <%= form.datetime_select(:due, ampm: true) %>
<p><%= form.submit %> </p>

<% end %>

<%= link_to "Back to all categories", user_lists_path %>
<%= link_to "Sign out", destroy_user_session_path, :method => :delete %>

